/* Esri styling */
.container-fluid{
    padding-right: 0;
}

body {
    overflow:hidden;
}

#invalid-list {
    overflow:scroll;
    position:relative;
    height: auto;
}

#map-container{
    padding-right: 0;
}

html, body, main, .container-fluid, #map-container, esri-map, .map {
    height: 100%;
}

.map {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
